{% load i18n %}
<table class="table table-bordered">
    <thead>
        <th>{% trans "Review" %}</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Apply to" %}</th>
        <th>{% trans "Rating" %}</th>
        <th>{% trans "Last update" %}</th>
    </thead>
    <tbody>
        {% for resume in list %}
        <tr>
            <td>
                {% if user.id not in resume.rated_by %}
                <a class="btn" href="{% url 'resume_detail' resume.uuid %}">
                    {% trans "Review" %}
                </a>
                {% else %}
                {% trans "Reviewed" %}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'resume_detail' resume.uuid %}">
                    <p>{{ resume.name }}</p>
                </a>
            </td>
            <td>
                <p>{{ resume.email }}</p>
            </td>
            <td>
                <p>{{ resume.get_status_display }}</p>
            </td>
            <td>
                <p>{{ resume.apply_to }}</p>
            </td>
            <td>
                <p>{{ resume.avg_rating }}</p>
            </td>
            <td>
                <p>{{ resume.modified|date:'Y-m-d' }}</p>
            </td>
        </tr>
        {% endfor %}
    </thead>
</table>
