{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="support">
    <h1>{% trans "Resume" %}</h1>
    {% blocktrans %}section-resume-1{% endblocktrans %}
    <form class="form-horizontal" enctype="multipart/form-data" method="post">
        <table>
        {% csrf_token %}
        {{ form.as_table }}
        <tr>
            <td></td>
            <td>
                <input class="btn btn-large" type="submit" name="draft" value="Save as DRAFT">
                <input class="btn btn-large" type="submit" name="submit" value="Submit">
            </td>
        </tr>
        </table>
    </form>
</section>
{% endblock %}
