{% load i18n %}
{% load capture %}
{% load url_replace %}
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>{% trans "Reviewed" %}</th>
            {% for col, name in table %}
            {% capture c %}{% if sort == col %}-{% endif %}{{ col }}{% endcapture %}
            <th><a href="?{% url_replace 'sort' c %}">{% trans name %}</a></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for resume in list %}
        <tr>
            <td>
                {% if resume.reviewed %}
                {% trans "Complete" %}
                {% else %}
                <a href="{% url 'resumereview_add' resume.uuid %}">
                    {% trans "Review now" %}
                </a>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'resume_detail' resume.uuid %}">
                    <p>{{ resume.name }}</p>
                </a>
            </td>
            <td>
                <p>{{ resume.email }}</p>
            </td>
            <td>
                <p>{{ resume.get_status_display }}</p>
            </td>
            <td>
                <p>{{ resume.apply_to }}</p>
            </td>
            <td>
                <p>{{ resume.avg_rating }}</p>
            </td>
            <td>
                <p>{{ resume.rated_by|length }}</p>
            </td>
            <td>
                <p>{{ resume.modified|date:'Y-m-d' }}</p>
            </td>
        </tr>
        {% endfor %}
    </thead>
</table>
