{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<section id="inform">
    <h1>{% trans "Read me first!" %}</h1>
    {% blocktrans %}section-resume-1{% endblocktrans %}
</section>
<hr>
<section id="resume">
    <h1>{% trans "Resume" %}</h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <p>
            <input class="btn btn-large btn-blue" type="submit" name="draft" value="{% trans 'Save as DRAFT' %}">
            <input class="btn btn-large btn-purple" type="submit" name="submit" value="{% trans 'Submit' %}">
        </p>
    </form>
</section>
{% endblock %}
