{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="support">
    <h1>{% trans "Resume" %}</h1>
    {% blocktrans %}section-resume-1{% endblocktrans %}
    <p>
    Status : {{ resume.get_status_display }}
    {{ resume }}
    </p>
    <p>
    LinkedIn : {{ resume.desc.linkedin }}
    </p>
    <p>
    Github : {{ resume.desc.github }}
    </p>
    <p>
        {% if resume.in_draft %}
        <a class="btn btn-large" href="{% url 'resume_update' resume.uuid %}">Update</a>
        {% endif %}
        <a class="btn btn-large" href="{% url 'resume_delete' resume.uuid %}">Delete</a>
    </p>
</section>
{% endblock %}
