{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<section id="support">
    <h1>{% trans "Resume" %}</h1>
    {% blocktrans %}section-resume-1{% endblocktrans %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% crispy form %}
        <p>
            <input class="btn btn-large btn-blue" type="submit" name="draft" value="Save as DRAFT">
            <input class="btn btn-large btn-purple" type="submit" name="submit" value="Submit">
        </p>
    </form>
</section>
{% endblock %}
