{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="resume">
    <h1>{% trans "Resume" %}</h1>
    <h2>{{ resume.name }}</h2>
    {% if perms.homepage.change_resume %}
    <a class="btn btn-blue pull-right" href="{% url 'resume_list' %}">{% trans "Back to list" %}</a>
    <h3>
        {% trans "Review" %}
        {% if user.id not in resume.rated_by %}
            <a class="btn btn-blue" href="{% url 'resumereview_add' resume.uuid %}">
                {% trans "Review now" %}
            </a>
        {% endif %}
    </h3>
    {% if resume.resumereview_set.all|length > 0 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans "Reviewer" %}</th>
                <th>{% trans "Rating" %}</th>
            </tr>
            <tr>
                <th colspan="2">{% trans "Opinion" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for r in resume.resumereview_set.all %}
            <tr>
                <td>{{ r.user.username }}</td>
                <td>
                    {% if user.id not in resume.rated_by %}
                    ----
                    {% else %}
                    {{ r.rating }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if r.user == user %}
                    <a class="btn pull-right" href="{% url 'resumereview_update' r.id %}">{% trans "Update review" %}</a>
                    {% endif %}
                    {% if user.id not in resume.rated_by %}
                    ----
                    {% else %}
                    {{ r.desc|safe }}
                    {% endif %}
                    <br><small>{{ r.modified }}</small>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>
        {% trans "No review, yet" %}
    </p>
    {% endif %}
    {% endif %}
    {% include "homepage/resume_detail_fragment.html" %}
    <p>
        {% if resume.in_draft %}
        <a class="btn btn-blue" href="{% url 'resume_update' resume.uuid %}">{% trans 'Update resume' %}</a>
        {% endif %}
        <a class="btn btn-red" href="{% url 'resume_delete' resume.uuid %}">{% trans 'Delete' %}</a>
    </p>
</section>
{% endblock %}
