.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
    cursor: pointer;
    font-size: 13.5px;
    font-weight: 400;
}
.btn {
    border: none;
    background: #bdc3c7;
    color: #ffffff;
    padding: 4px 12px 5px;
    line-height: 22px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
    margin-right: 5px;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
    background-color: #cacfd2;
    color: #ffffff;
    outline: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
    background-color: #a1a6a9;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.btn.btn-large {
    font-size: 16.996px;
    /* 17px */

    line-height: 20px;
    padding: 12px 18px 13px;
}
.btn.btn-large > [class^="fui-"] {
    top: 0;
}
.btn.btn-large > [class^="fui-"].pull-right {
    margin-right: -2px;
}
.btn.btn-appstore {
    background-color: #3386d4;
}
.btn.btn-appstore:hover,
.btn.btn-appstore:focus,
.btn-group:focus .btn.btn-appstore.dropdown-toggle {
    background-color: #5dade2;
}
.btn.btn-appstore:active,
.btn-group.open .btn.btn-appstore.dropdown-toggle,
.btn.btn-appstore.active {
    background-color: #2c81ba;
}
.btn.btn-playstore {
    background-color: #3fabba;
}
.btn.btn-playstore:hover,
.btn.btn-playstore:focus,
.btn-group:focus .btn.btn-playstore.dropdown-toggle {
    background-color: #48c9b0;
}
.btn.btn-playstore:active,
.btn-group.open .btn.btn-playstore.dropdown-toggle,
.btn.btn-playstore.active {
    background-color: #16a085;
}
