@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', 'Helvetica Neue', 'Nanum Gothic', 'Arial', sans-serif;
    font-weight: 300;
    line-height: 180%;
}

html, body {
    height: 100%;
    min-height: 100%;
    background: #ddd;
}

a {
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

p, li, span {
    color: #667;
    font-family: 'Open Sans', 'Nanum Gothic', 'Helvetica Neue', 'Arial', 'Apple Gothic', sans-serif;
    font-size: 11.8pt;
    font-style: normal;
    font-weight: 400;
}

p {
    line-height: 180%;
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    line-height: 120%;
    padding: 10px 0;
}

h1 {
    font-size: 36pt;
    font-weight: 900;
}

h1 span {
    color: black;
    font-family: 'Lato', 'Helvetica Neue', 'Nanum Gothic', 'Arial', sans-serif;
    font-size: 36pt;
    font-weight: 900;
    display: inline-block;
    line-height: 100%;
}

//h1:before {
//    content: "|";
//    color: #3e8b8b;
//    font-size: 36pt;
//    margin-left: -36px;
//    padding-right: 22px;
//}

h2 {
    font-size: 24pt;
    font-weight: 400;
    color: #333;
}

h3 {
    font-size: 18pt;
    font-weight: 300;
    color: #666;
}

h4 {
    font-size: 14pt;
    font-weight: 300;
    color: #777;
    padding: 5px 0;
}

hr {
    border: 0px;
    padding: 32px;
    border-bottom: 1px solid #ebebff;
}

section {
    padding-top: 52px;
    position: relative;
}

pre {
    word-break: break-all;
    white-space: pre-line;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
    float: none;
}

.box {
    width: 100%;
}

.wrap {
    max-width: 960px;
    padding: 0 5%;
    margin: auto;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    margin-top: -4px;
    vertical-align: middle;
    background-repeat: no-repeat;
    opacity: 0.7;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s;
}

.desc [class^="icon-"], .desc [class*=" icon-"] {
    opacity: 0.3;
    margin-right: -8px;
}

#footer [class^="icon-"], #footer [class*=" icon-"] {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    opacity: 0.7;
}

.btn [class^="icon-"], .btn [class*=" icon-"] {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    opacity: 1.0;
    margin-bottom: 1px;
    vertical-align: bottom;
}

.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    margin: -5px 3px -5px -5px;
    opacity: 1.0;
}

[class^="icon-"]:hover, [class*=" icon-"]:hover {
    opacity: 1.0;
}

.icon-link {
    background-image: url("../image/icon/link.png");
}

.icon-about {
    background-image: url("../image/icon/about.png");
}

.icon-product {
    background-image: url("../image/icon/product.png");
}

.icon-contact {
    background-image: url("../image/icon/contact.png");
}

.icon-facebook {
    background-image: url("../image/icon/facebook.png");
}

.icon-twitter {
    background-image: url("../image/icon/twitter.png");
}

.icon-github {
    background-image: url("../image/icon/github.png");
}

.icon-facebook-white {
    background-image: url("../image/icon/facebook-white.png");
}

.icon-twitter-white {
    background-image: url("../image/icon/twitter-white.png");
}

.icon-github-white {
    background-image: url("../image/icon/github-white.png");
}

.icon-appstore {
    background-image: url("../image/icon/appstore.png");
}

.icon-playstore {
    background-image: url("../image/icon/playstore.png");
}

#navbar {
    position: absolute;
    z-index: 1;
    top: 0;
}

#navbar > .wrap {
    text-align: left;
    background: #444;
    color: white;
    height: 50px;

    overflow: hidden;
    border-bottom: 1px solid #111;
}

#navbar ul {
    display: inline-block;
}

#navbar li {
    list-style: none;
    display: inline-block;
    height: 50px;
}

#navbar li a {
    color: #aaa;
    text-decoration: none;
    font-weight: 400;
    line-height: 50px;
    padding: 10px 10px 10px 6px;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    transition: background 0.25s;
    -webkit-transition: background 0.25s;
}

#navbar li .brand {
    font-family: 'Lato', 'Helvetica Neue', 'Nanum Gothic', 'Arial', sans-serif;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 6px 8px 12px;
    letter-spacing: 1px;
    text-shadow: #111 0 0 5px;
}

#navbar li a:hover, #navbar li a.active {
    color: #fff;
    background: #666;
}

#content {
    position: relative;
    height: 100%;
    min-height: 100%;
}

#content > .wrap {
    padding-top: 20px;
    background: white;
    min-height: 100%;
    margin-bottom: -24px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    max-width: 958px;
}

#content > .wrap > .eod {
    padding: 20px 0 60px 0;
    color: white;
    text-align: center;
}

#content > .wrap > .eod img {
    width: 62px;
    height: auto;
    opacity: 0.1;
}

#footer {
    position: relative;
    clear:both;
} 

#footer > .wrap {
    background: #303033;
    color: white;
    font-weight: 300;
    font-size: 14px;

    border-bottom: 1px solid #1c1c1f;
    border-top: 1px solid #444450;
}

#footer > .wrap:first-child {
    border-top: 4px solid #3e8b8b;
}

#footer > .wrap:last-child {
    padding-bottom: 20px;
}

#footer a {
    color: white;
    font-weight: 400;
    text-shadow: #000 0 1px 0;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .sitemap {
    padding: 20px 0 40px;
}

#footer .sitemap > li {
    vertical-align: top;
    width: 18%;
    list-style: none;
    display: inline-block;

    font-size: 12pt;
    padding-left: 1%;
    padding-bottom: 20px;
}

#footer .sitemap > li > a {
    text-decoration: none;
    padding: 5px 12px;

    border-radius: 50px;
    -webkit-border-radius: 50px;
    transition: background 0.25s;
    -webkit-transition: background 0.25s;
}

#footer .sitemap > li > a:hover {
    background: #666;
}

#footer .sitemap hr {
    border: 0;
    margin: 8px 12px;
    padding: 0;
    border-top: 1px solid #1C1C1F;
    border-bottom: 1px solid #444450;
}

#footer .submenu {
}

#footer .submenu > li {
    list-style: none;
    font-size: 14px;
    text-indent: -12px;
    padding-left: 12px;
}

#footer .submenu > li a {
    color: #aaa;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
}

#footer .submenu > li a.disabled {
    color: #444;
}

#footer .submenu > li a:hover {
    color: #fff;
}

#footer .submenu > li a:before {
    content: "•";
    color: #50505a;
    font-size: 8pt;
    padding-right: 5px;
    text-shadow: #111 0 0 3px;
    transition: color 0.25s;
    -webkit-transition: color 0.25s;
}

#footer .submenu > li a:hover:before {
    color: #fff;
}


#footer .credit p {
    font-size: 8pt;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    color: #777;
    padding-top: 10px;
    text-shadow: #333 1px 1px 1px;
}

#footer .credit a {
    color: #aaa;
    letter-spacing: 0px;
}

section {
    position :relative;
}

section a {
    font-size: 11.8pt;
}

section .desc {
    font-size: 10pt;
}

section .desc a {
    font-size: 10pt;
}

section .icon {
    width: 100px;
    height: auto;

    position: relative;
    float: right;
    opacity: 0.9;
    margin: -2px;
}

section .app {
    position: relative;
    margin-bottom: 32px;
}

section .app .icon {
    width: 64px;
    height: auto;

    position: relative;
    float: left;
    margin: 10px 12px 10px 0px;
    box-shadow: #333 0 1px 4px;

    border-radius: 11px;
    -webkit-border-radius: 11px;
}

section ul, section ol {
    margin: 8px 8px 14px 32px;
}

section ul p {
    margin: 0;
}

section ul ul, section ul ol, section ol ul, section ol ol {
    margin: 0px 0px 8px 32px;
}

section .app h2 {
    margin-left: 77px;
}

section .app h3 {
    margin-top: -20px;
    margin-left: 77px;
}

section p img {
    float: left;
    width: 48px;
    height: auto;
    padding: 6px;
}

.members {
    padding: 20px 0;
    margin: 0;
    font-size: 0;
}

.members li {
    list-style: none;
    display: block;
    float: left;
    width: 31%;
    height: 74px;
    padding: 0;
    margin: 0.8%;
    position: relative;
}

.members .member .photo {
    width: 64px;
    height: 64px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    box-shadow: #333 0 2px 3px -1px;
    cursor: pointer;
    float: left;
    overflow: hide;
}

.members .member .desc {
    height: 64px;
    padding: 8px 0px 0px 74px;
}

.members .member .desc p {
    margin: 0;
}

.members .member .desc .nick, 
.members .member .desc .firstname,
.members .member .desc .name {
    font-size: 13.5pt;
    font-weight: 700;
}

.members .member .desc .lastname {
    font-size: 13.5pt;
    font-weight: 400;
}

.members .member .desc .title {
    font-size: 8pt;
    font-weight: 400;
    line-height: 100%;
}

.members .member .desc .comment {
    display: none;
}

.map {
    width: 100%;
    height: 480px;
    border: 1px solid #667;
    border-radius: 3px;
    -webkit-border-border: 3px;
}

/* dimmer */
.topmost {
    display: none;
	position:absolute;
    width:100%;
    height:100%;
    z-index: 80;
}

.topmost #dimmer {
	top:0;
	left:0;
    width:100%;
    height:100%;
	background:rgba(0, 0, 0, 0.7);
    overflow:hidden;
}

.topmost #box {
    position: fixed;
	top:20%;
	left:20%;
    width:60%;
    height:60%;
    text-align: center;
}

.enlarge {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: none;
    position: relative;
    overflow: hidden;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    box-shadow: #222 1px 3px 4px;
}

.enlarge img {
    width: 100%;
    height: auto;
    float: left;
    border-radius: 500px;
    -webkit-border-radius: 500px;
}

.enlarge .desc {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    text-shadow: #000 0 0 3px;
}

.enlarge .desc p {
    width: 90%;
    display: inline-block;
    color: #ccc;
    margin: 5px 0 0 0;
}

.enlarge .desc .nick {
    font-weight: 700;
    font-size: 16pt;
    color: white;
    margin: 0;
    display: inline-block;
}

.enlarge .desc .comment {
    font-size: 11pt;
    display: inline-block;
}


.enlarge .desc .title, .enlarge .desc .badges, .enlarge .desc .name {
    display: none;
}


@media (max-width: 900px) {
    #footer .sitemap > li {
        width: 23%;
    }

    .members li {
        width: 45%;
        margin: 1%;
    }
}

@media (max-width: 600px) {
    .wrap {
        padding: 0 4%;
    }

    #navbar > .wrap {
        padding: 0 2%;
    }

    .hidden-phone {
        display: none !important;
    }

    #footer .sitemap > li {
        width: 47%;
    }

    section .icon {
        width: 92px;
        height: auto;
        margin: -4px;
    }

    .members li {
        width: 92%;
        margin: 2%;
    }

    .enlarge .desc {
        display: none;
    }
}
