{% extends "base.html" %}
{% load i18n %}
{% load capture %}

{% block content %}
<section id="company">
    <h1><img class="icon" src="{{ STATIC_URL }}image/icon/company.png" alt="company">{% blocktrans %}<span>SMART</span><span>STUDY</span>{% endblocktrans %}</h1>
    <h2>{% trans "Big things have small beginnings." %}</h2>
    {% blocktrans %}section-company-1{% endblocktrans %}
    {% include "facebook.html" %}
</section>
<hr>
<section id="vision">
    <img class="icon" src="{{ STATIC_URL }}image/icon/vision.png" alt="vision">
    <h1>{% trans "Vision" %}</h1>
    <h2>{% trans "Content rules platform." %}</h2>
    {% blocktrans %}section-vision-1{% endblocktrans %}
    <h2>{% trans "We, human make it works." %}</h2>
    {% blocktrans %}section-vision-2{% endblocktrans %}
</section>
<hr>
<section id="technique">
    <img class="icon" src="{{ STATIC_URL }}image/icon/technique.png" alt="technique">
    <h1>{% trans "Technique" %}</h1>
    <h2>{% trans "Built on Open Source eco systems." %}</h2>
    {% blocktrans %}section-technique-1{% endblocktrans %}
</section>
<hr>
<section id="crew">
    <img class="icon" src="{{ STATIC_URL }}image/icon/crew.png" alt="crew">
    <h1>{% trans "Crew" %}</h1>
    <h2>{% trans "We're not on a rocket." %}</h2>
    {% capture recruit_link %}{% url 'withyou' %}{% endcapture %}
    {% blocktrans %}section-crew-1{% endblocktrans %}
    <ul class="members">
        {% for c in crew %}
        <li>
            <div class="photo">
                <img src="{{ c.picture.url }}" alt="{{ c.name_eng }}" data-original="{{ c.picture.url }}" onclick="show_enlarge(this);">
            </div>
            <div class="desc">
                <p>
                    <span class="name">{{ c.name }}</span>
                    <span class="nick">{{ c.nick }}</span>
                    {% if c.twitter %}
                    <a href="https://twitter.com/{{ c.twitter }}"><i class="icon-twitter"></i></a>
                    {% endif %}
                    {% if c.github %}
                    <a href="https://github.com/{{ c.github }}"><i class="icon-github"></i></a>
                    {% endif %}
                </p>
                <p class="title">{{ c.title }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
</section>
{% endblock %}
{% block script %}
<script>
function show_enlarge(e)
{
    $(".topmost #box").html(
        '<img class="enlarge-photo" src="'+$(e).data('original')+'">'
    );
    $(".enlarge-photo").fadeIn(300);
    dimmer_on();
}
</script>
{% endblock %}
