{% extends "base.html" %}
{% load i18n %}
{% load capture %}
{% block content %}
<section id="company">
    <h1><img class="icon" src="{{ STATIC_URL }}image/icon/company.png" alt="company">{% blocktrans %}<span>SMART</span><span>STUDY</span>{% endblocktrans %}</h1>
    <h2>{% trans "Big things have small beginnings." %}</h2>
    {% blocktrans %}section-company-1{% endblocktrans %}
    <div class="fb-like" data-href="https://www.facebook.com/SmartStudyKR" data-send="false" data-width="320px" data-show-faces="true"></div>
</section>
<hr>
<section id="vision">
    <img class="icon" src="{{ STATIC_URL }}image/icon/vision.png" alt="vision">
    <h1>{% trans "Vision" %}</h1>
    <h2>{% trans "Content rules platform." %}</h2>
    {% blocktrans %}section-vision-1{% endblocktrans %}
    <h2>{% trans "We, human make it works." %}</h2>
    {% blocktrans %}section-vision-2{% endblocktrans %}
</section>
<hr>
<section id="technique">
    <img class="icon" src="{{ STATIC_URL }}image/icon/technique.png" alt="technique">
    <h1>{% trans "Technique" %}</h1>
    <h2>{% trans "Built on Open Source eco systems." %}</h2>
    {% blocktrans %}section-technique-1{% endblocktrans %}
</section>
<hr>
<section id="crew">
    <img class="icon" src="{{ STATIC_URL }}image/icon/crew.png" alt="crew">
    <h1>{% trans "Crew" %}</h1>
    <h2>{% trans "We're not on a rocket." %}</h2>
    {% capture recruit_link %}{% url 'withyou' %}{% endcapture %}
    {% blocktrans %}section-crew-1{% endblocktrans %}
    <a class="btn btn-large btn-purple" href="{% url 'withyou' %}">{% trans "Join us" %}</a>
    <ul class="members">
        {% for c in crew %}
        <li>
            <div class="member">
                <img class="photo" src="{{ c.picture.url }}" alt="{{ c.nick }}">
                <img class="photo-big" src="{{ c.picture_big.url }}" alt="{{ c.nick }}">
                <div class="desc">
                    <p class="comment">{{ c.comment }}</p>
                    <p>
                        <span class="nick">{{ c.nick }}</span>
                        <span class="badges">
                            {% if c.twitter %}
                            <a href="https://twitter.com/{{ c.twitter }}"><i class="icon-twitter"></i></a>
                            {% endif %}
                            {% if c.github %}
                            <a href="https://github.com/{{ c.github }}"><i class="icon-github"></i></a>
                            {% endif %}
                        </span>
                    </p>
                    <p class="title">{{ c.title }}</p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="clear"></div>
</section>
{% endblock %}
{% block script %}
<script>
function show_enlarge(e)
{
    var $member = $(e).parent().clone();
    $member.removeClass("member").addClass("enlarge");
    $(".topmost #box").empty().append( $member );
    dimmer_on();
    $member.show();
}
$(".member .photo").click( function() { show_enlarge(this) } );
</script>
{% endblock %}
