{% load i18n %}
{% load capture %}
<div id="footer">
    <div class="wrap">
        <ul class="sitemap">
            <li>
                <a href="{% url 'contact' %}">{% trans "ABOUT" %}</a>
                <ul class="submenu">
                    <li><a href="{% url 'about' %}#company">{% trans "Company" %}</a></li>
                    <li><a href="{% url 'about' %}#vision">{% trans "Vision" %}</a></li>
                    <li><a href="{% url 'about' %}#technique">{% trans "Technique" %}</a></li>
                    <li><a href="{% url 'about' %}#crew">{% trans "Crew" %}</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'product' %}">{% trans "PRODUCT" %}</a>
                <ul class="submenu">
                    <!--<li><a href="{% url 'product' %}#featured">{% trans "Featured" %}</a></li>-->
                    {% for c in app_categories %}
                    <li><a href="{% url 'product' %}#{{ c.uid }}">{{ c.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <a href="{% url 'contact' %}">{% trans "CONTACT" %}</a>
                <ul class="submenu">
                    <li><a href="{% url 'contact' %}#support">{% trans "Support" %}</a></li>
                    <li><a href="{% url 'contact' %}#business">{% trans "Business" %}</a></li>
                    <li><a href="{% url 'contact' %}#press">{% trans "Press" %}</a></li>
                    <li><a href="{% url 'contact' %}#location">{% trans "Location" %}</a></li>
                </ul>
            </li>
            <li>
                <a>{% trans "WITH" %}</a>
                <ul class="submenu">
                    <li><a href="{% url 'withyou' %}#withus">{% trans "With us" %}</a></li>
                    <li><a href="{% url 'withyou' %}#position">{% trans "Open position" %}</a></li>
                    <li><a href="{% url 'poster_list' %}">{% trans "Posters" %}</a></li>
                </ul>
            </li>
            <li>
                <a>{% trans "INFORMATION" %}</a>
                <ul class="submenu">
                    <li><a href="https://www.facebook.com/SmartStudyKR" target="_blank"><i class="icon-facebook-white"></i> {% trans "Facebook" %}</a></li>
                    <li><a href="https://twitter.com/smartstudy_kr" target="_blank"><i class="icon-twitter-white"></i> {% trans "Twitter" %}</a></li>
                    <li><a href="https://github.com/smartstudy" target="_blank"><i class="icon-github-white"></i> {% trans "Github" %}</a></li>
                    <li><a href="{% url 'license' %}#">{% trans "License" %}</a></li>
                    <li><a href="{% url 'privacy' %}#">{% trans "Privacy" %}</a></li>
                </ul>
            </li>
            <li>
                <a>{% trans "LANGUAGE" %}</a>
                <ul class="submenu">
                {% include "i18n.html" %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
    <div class="wrap credit">
        {% capture year %}{% now "Y" %}{% endcapture %}
        <p>{% blocktrans %}Designed and published by © SMARTSTUDY 2010-{{ year }}{% endblocktrans %}</p>
    </div>
</div>
