{% load i18n %}
<div id="navbar" class="box">
    <div class="wrap">
        <ul class="visible-phone">
            <li><a href="#footer">
                <i class="icon-about"></i> SITEMAP</a>
            </li>
        </ul>
        <ul class="hidden-phone">
            <li><a href="{% url 'about' %}"{% if view == 'about' %} class="active"{% endif %}>
                <i class="icon-about"></i> {% trans "ABOUT" %}</a>
            </li>
            <li><a href="{% url 'product' %}"{% if view == 'product' %} class="active"{% endif %}>
                <i class="icon-product"></i> {% trans "PRODUCT" %}</a>
            </li>
            <li><a href="{% url 'how' %}"{% if view == 'how' %} class="active"{% endif %}>
                <i class="icon-how"></i> {% trans "HOW" %}</a>
            </li>
            <li><a href="{% url 'contact' %}"{% if view == 'contact' %} class="active"{% endif %}>
                <i class="icon-contact"></i> {% trans "CONTACT" %}</a>
            </li>
            <li><a href="{% url 'withyou' %}"{% if view == 'withyou' %} class="active"{% endif %}>
                <i class="icon-with"></i> {% trans "WITH" %}</a>
            </li>
        </ul>
        <ul class="pull-right">
            <li><a href="{% url 'index' %}"{% if view == 'index' %} class="active"{% endif %}>
                <span class="brand">{% trans "SMARTSTUDY" %}</span></a>
            </li>
        </ul>
    </div>
</div>
<script>$("#navbar").shy();</script>
