{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}
{% block content %}
{% for category in app_categories %}
<section id="{{ category.uid }}">
    <h1>{{ category.title }}</h1>
    {% for app in category.app.all %}
    <div class="app">
        <img class="icon" src="{{ app.icon.icon.url }}" alt="icon">
        <div class="preview-wrap hidden-phone">
            <div class="preview {% if app.has_landscape_images %}preview-landscape{% endif %}" id="preview_{{ app.id }}">
                <ul>
                {% for image in app.images.all %}
                    {% if forloop.first %}
                    <li style="display:block"><img src="{{ image.image.thumbnail.url }}" alt="thumbnail"></li>
                    {% else %}
                    <li><img src="{{ app.images.all.0.image.thumbnail.url }}" data-original="{{ image.image.thumbnail.url }}" alt="thumbnail"></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        </div>
        <h2>{{ app.title }}</h2>
        <h3>{{ app.subtitle }}</h3>
        <div class="desc">
            {{ app.desc|markdown:"safe" }}
        </div>
        {% if app.appid_appstore %}
        <button class="btn btn-appstore" onclick="location.href='{{ app.link_appstore }}'"><i class="icon-appstore"></i> AppStore</button>
        {% endif %}
        {% if app.appid_playstore %}
        <button class="btn btn-playstore" onclick="location.href='{{ app.link_playstore }}'"><i class="icon-playstore"></i> PlayStore</button>
        {% endif %}
    </div>
    <div class="clear"></div>
    {% endfor %}
</section>
{% if not forloop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
{% block script %}
<script>
(function ($) {
    $(".preview").each( function() {
        var swipe = new Swipe(this, {
            auto : 4000,
        });
    });
    $(".preview img").lazyload({threshold:200});
}(jQuery));
</script>
{% endblock %}
