{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="withus">
    <h1><img class="icon" src="{{ STATIC_URL }}image/icon/withus.png" alt="withus">{% trans "With us" %}</h1>
    <h2>{% trans "We're hiring!" %}</h2>
    {% blocktrans %}section-withus-1{% endblocktrans %}
    <h2>{% trans "Testimonial" %}</h2>
    <div class="span12">
    {% for t in testimonials %}
        <div class="rounded-box span4 testimonial">
            <a href="{% url 'testimonial' t.id %}">
                <img class="photo" src="{{ t.picture.thumbnail.url }}" alt="picture">
            </a>
            <center>
                <h3>{{ t.name }}</h3>
                <span class="title">{{ t.title }}</span>
            </center>
            <div class="quote">
                {{ t.tldr|safe }}
            </div>
            <a class="btn btn-blue" href="{% url 'testimonial' t.id %}">{% trans "Read more" %}</a>
        </div>
    {% endfor %}
    </div>
</section>
<hr>
<section id="position">
    <h1><img class="icon" src="{{ STATIC_URL }}image/icon/position.png" alt="position">{% trans "Open position" %}</h1>
    {% blocktrans %}section-withyou-2{% endblocktrans %}
    {% for job in jobs %}
        <div class="rounded-box">
            <h2>{{ job.name }}</h2>
            <div class="job description">
                {{ job.desc|safe }}
            </div>
            <p>
            <a class="btn btn-large btn-purple" href="{% url 'resume_add' %}?job={{ job.id }}">{% trans "Apply for this job" %}</a>
            </p>
        </div>
    {% endfor %}
    {% blocktrans %}section-withyou-3{% endblocktrans %}
</section>
{% endblock %}
